@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width : 704px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.header {
  overflow: hidden;
  background-color: #00D3FF;
  text-align: center;
  padding: 1px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width : 704px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.page-header {
  background: #00A2FF;
  background: -moz-linear-gradient(top, #00a3ef 0%, #0b4182 100%);
  background: -webkit-linear-gradient(top, #00a3ef 0%, #0b4182 100%);
  background: linear-gradient(to bottom, #00a3ef 0%, #0b4182 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A2FF', endColorstr='#0b4182', GradientType=0);
}

* {
  box-sizing: border-box;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 1264px;
  }
}

.mm {
  animation: mymove 7.28995808274s infinite;
  /*(2+(7/59))*(1920/558)*/
}

.mm22 {
  width: 58px;
  height: 48px;
  transition: transform 0.8983050847s;
}

.mm3 {
  transform: scale(0.15);
}

.btn {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #1E90FF;
}
body{
	margin:0;
	padding:0;
	background: #fff;
}
.main{
	position: relative;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding:0;
}
.main a{
	position: absolute;
	height: auto;
	width: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: #fff;
	background:#2980b9;
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	padding:15px 20px;
	cursor: pointer;
}
.main .modalbox{
	position: absolute;
	z-index: 9999;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: 0.3s ease-in-out;
	animation:animate 0.2s ease-in-out;
}
@keyframes animate{
	from{
		opacity: 0;
	}
	to{
		opacity:1;
	}
}
.main .modalbox .modal{
	height: auto;
	width: 40%;
	text-align: center;
	top:50%;
	background:#fff;
	color: #000;
	font-family: sans-serif;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.main .modalbox .modal h1{
	position: relative;
	margin:0;
	height: auto;
	width: 100%;
	color: #fff;
	background:#d35400;
	padding:10px 0;
	font-size: 1.8em;
	font-weight: 800;
	letter-spacing: 2px;
}
.main .modalbox .modal h3{
	position: relative;
	margin:2% 0;
	padding:0;
	height: auto;
	width: 100%;
	color: #d35400;
}
.main .modalbox .modal p{
	position: relative;
	height: 100%;
	width: 80%;
	text-align: center;
	margin:auto auto;
	padding:10px;
	font-size: 1.2em;
	font-family: 'lato',sans-serif;
}
.main .modalbox .fa{
	position: relative;
	top:-5%;
	right:-25%;
	cursor: pointer;
	font-size: 1.5em;
}